@model IEnumerable<WEBMES_V2.Models.DTO.MaterialStagingDTO.MaterialHistoryDTO>;
    <div class="row p-3">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover" id="MaterialListTable">
                    <thead>
                        <tr>
                            <th class="fixed-cell-width">Type of Epoxy</th>
                            <th class="fixed-cell-width">Batch Number/Syringe</th>
                            <th class="fixed-cell-width">Customer</th>
                            <th class="fixed-cell-width">Thawing Date/Time IN</th>
                            <th class="fixed-cell-width">Thawing Date/Time OUT</th>
                            <th class="fixed-cell-width">Epoxy Floor life end</th>
                            <th class="fixed-cell-width">Time Left (hh:mm:ss)</th>
                            <th class="fixed-cell-width">Epoxy Expiration</th>
                            <th class="fixed-cell-width">Remarks</th>               
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Any())
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaterialDesc</td>
                                    <td>@item.BatchNumber</td>
                                    <td>@item.Customer</td>
                                    <td>@item.ThawIn</td>
                                    <td>@item.ThawOutEnd</td>
                                    <td class="font-weight-bold">@item.WorkLifeEnd</td>
                                    <td>@item.TimeLeft</td>
                                    <td>@item.ExpirationDate</td>                                    
                                    <td class="font-weight-bold" style="background-color: @item.Color">@item.Remarks</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" class="text-center">No search data</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="fixed-cell-width">Type of Epoxy</th>
                            <th class="fixed-cell-width">Batch Lot Number</th>
                            <th class="fixed-cell-width">Withdrawal Date (Barcode at MC)</th>
                            <th class="fixed-cell-width">Thawing Time In</th>
                            <th class="fixed-cell-width">Thawing Time Out</th>
                            <th class="fixed-cell-width">Epoxy Floor life end</th>
                            <th class="fixed-cell-width">Time Left (hh:mm:ss)</th>
                            <th class="fixed-cell-width">Epoxy Expiration</th>
                            <th class="fixed-cell-width">Remarks</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>